
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>My MVC</title>
</head>

<body class="bg-gray-200">
  <header>
    <h1 class="text-3xl font-extrabold m-5 text-blue-500">Tech Blog</h1>
  </header>
  <nav class="mx-3 font-extrabold bg-gray-400">
      <ul>
        <a class="m-3 text-blue-500" href="/">Home</a>
        {{#if logged_in}}
        <button id="logout">Logout</button>
        <script src='/js/logout.js'></script>
          {{else}}
          <a class="m-3 text-blue-500" href="login">Login</a>
        {{/if}}
      </ul>
    </nav>
  <main class="flex flex-grow justify-center m-5 w-10/12">
      {{{body}}} 
  </main>
</body>

</html>