<h2>{{BlogPost.title}}</h2>
<h3>Author: {{BlogPost.Username}}</h3>
<h4>{{BlogPost.content}}</h4>
<form action="">
    <input type="text" id="comment" placeholder="Comment">
<button>Add</button>
</form>

<script src="/js/addComment.js"></script>