<section class="flex flex-grow">
<div>
<h2 class="font-bold">{{blogPost.title}}</h2>
</div>
<div>
<h2 class="font-bold">{{blogPost.content}}</h2>  
</div> 
</section>
<script src="/js/editPost.js"></script>