<section>
   <a href="/createPost"> <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded w-30" id="create-button">Create Post</button></a>
{{#each allPosts}}
{{> posts}}
{{/each}}
</section>
<script src="/js/createPost.js"></script>

{{!-- <section class="flex flex-col grow">

  <div class="blog-posts">
    {{#each blogPosts}}
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <!-- Display other relevant blog post details -->
    {{/each}}
  </div>

  <form class="flex flex-col my-4">
    <label for="task-name">Title</label>
    <input name="task-name" class="max-w h-12 border-solid border-2 border-blue-950 my-2" id="project"></input>
    <text for="task-name">Content</text>
    <input class="max-w h-12 border-solid border-2 border-blue-950 my-2" id="content"></input>



    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded w-40">Add Comment</button>
  </form> --}}
{{!-- </section>

<script src="/js/newComment.js"></script> --}}

