<h2>{{Post.title}}</h2>
<h3>Author: {{Post.Username}}</h3>
<h4>{{Post.content}}</h4>
<form action="">
    <input type="text" id="comment" placeholder="Comment">
<button>Add</button>
</form>

<script src="/js/newComment.js"></script>